<template name="emoteEdit">
  <form class="main form page">
    <div class="form-group {{errorClass 'explanation'}}">
      <label class="control-label" for="explanation">Explanation</label>
      <div class="controls">
        <input name="explanation" id="explanation" type="text" value="{{explanation}}" placeholder="how do you feel?" class="form-control">
        <span class="help-block">{{errorMessge 'explanation'}}</span>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary submit">
    <hr/>
    <a class="btn btn-danger delete" href="#">Delete Emote</a>
  </form>
</template>