<template name="emoteItem">
  {{#linkTo route="emotePage"}}
  <div class="emote" id="{{emotion}}">
    <div class="emote-content">
      {{#if emoticon}}
      <h3><span class="badge">{{emoticon}}{{emotion}}</span>&nbsp;{{explanation}}</h3>
      {{/if}}
      <p>
        by {{author}}
        <a href="{{pathFor 'emotePage'}}">{{commentsCount}}&nbsp;comments</a>
        {{#if ownPost}}<a href="{{pathFor 'emoteEdit'}}">&nbsp;<i class="fa fa-pencil-square-o">Edit</i></a>{{/if}}
      </p>
    </div>
  </div>
  {{/linkTo}}
</template>