<template name="emoteSubmit">
  <form class="main form page">
    <div class="form-group {{errorClass 'emotion'}}">
      <label class="control-label" for="emotion">I feel ...</label>
      <div class="controls">
        <select id="emotion-select">
          <option disabled="disabled" selected="selected"> Select an emotion</option>
          {{#each emotionChoices}}
            <option value="{{this}}" name="emotion" id="emotion" class="form-control">{{this}}</option>
          {{/each}}
        </select>
        <span class="help-block">{{errorMessage 'emotion'}}</span>
      </div>
    </div> 

    <div class="form-group {{errorClass 'explanation'}}">
      <label class="control-label" for="explanation">b'cuz</label>
      <div class="controls">
        <input name="explanation" id="explanation" type="text" value="" placeholder="how do you feel?" class="form-control"/>
        <span class="help-block">{{errorMessage 'explanation'}}</span>
      </div>
    </div>
    <input type="submit" value="Vent" class="btn btn-primary">
  </form>
  
</template>